spring:
  datasource:
    url: jdbc:mysql://localhost:3306/codinggo?useSSL=false&serverTimezone=Asia/Seoul
    username: root
    password: whitekid07
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update  # create, update, validate, none ?? ??
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  redis:
    host: localhost
    port: 6379

  boot:
    docker:
      compose:
        enabled: false  # Docker Compose ?? ? ?

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"  # ?? Actuator ????? ??
api-docs:
  path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
cache:
  type: jcache
  jcache:
    config: classpath:ehcache.xml

    logging:
      level:
        org.ehcache: DEBUG